<!-- Alternating Feature Sections -->
<div id="feature-section" class="relative pt-16 overflow-hidden">
  <div aria-hidden="true" class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <!-- <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-sky-100">
              <%= render_svg "icons/fire-solid",
                              styles: "h-6 w-6 text-sky-700" %>
            </span>
          </div> -->
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-sky-900">
              Få grøn varme uden at røre en finger
            </h2>

            <p class="mt-4 text-lg text-gray-500">
              Luft-til-vand varmepumpe, for dig med radiatorer/gulvvarme.
            </p>

            <!-- <p class="mt-4 text-lg text-gray-500">
              Få billig og pålidelig varme uden at røre en finger. Vi indkøber et luft til vand anlæg og installerer det i din ejendom. Derfra betaler du et fast abonnement hver måned til Varmeo og sørger vi for alt. Vi ejer og og driver varmeanlægget optimalt hos dig i hele kontraktperioden – nemt og enkelt.
            </p> -->

            <dl class="grid gap-y-5 mt-6">
              <div class="relative">
                <dt>
                  <!-- Heroicon name: outline/check -->
                  <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                  </svg>
                  <p class="ml-9 text-lg leading-6 font-medium text-sky-900">Spar op til 20.000 kr. om året</p>
                </dt>
                <dd class="mt-2 ml-9 text-base text-gray-500">Skær ned på din varmeregning og reducer din elafgift med op til 1,11 kr./kWh, når du skifter fra olie, gas eller el (baseret på 160 m<sup>2</sup>).</dd>
              </div>

              <div class="relative">
                <dt>
                  <!-- Heroicon name: outline/check -->
                  <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                  </svg>
                  <p class="ml-9 text-lg leading-6 font-medium text-sky-900">Slip for investeringen på 100.000 – 130.000 kr.</p>
                </dt>
                <dd class="mt-2 ml-9 text-base text-gray-500">Du betaler en fast lav pris om måneden og vi står for alt — indkøb, installation, service og udskiftning din varmepumpe, når tid er.</dd>
              </div>

              <div class="relative">
                <dt>
                  <!-- Heroicon name: outline/check -->
                  <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                  </svg>
                  <p class="ml-9 text-lg leading-6 font-medium text-sky-900">Øg værdien på din bolig</p>
                </dt>
                <dd class="mt-2 ml-9 text-base text-gray-500">Med en varmepumpe falder din boligs CO2-udledning typisk med 1/3-del. Det giver dig en bedre energimærkning af din bolig.</dd>
              </div>

              <div class="relative">
                <dt>
                  <!-- Heroicon name: outline/check -->
                  <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                  </svg>
                  <p class="ml-9 text-lg leading-6 font-medium text-sky-900">Sov trygt og "lige tilpas"-varmt om natten</p>
                </dt>
                <dd class="mt-2 ml-9 text-base text-gray-500">Din varmepumpe er fjern-monitoreret 24/7, så vi altid er på forkant med evt. fejl. Derudover er du dækket af vores all-risk forsikring.</dd>
              </div>
            </dl>
            <div class="mt-6">
              <%= link_to "Luft-til-vand varmepumper", luft_til_vand_path, class: "btn btn-lg btn-red-gradient" %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <%= image_tag "family_vand_1100.jpg",
                        class: "w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <!-- <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-sky-100">
              <%= render_svg "icons/globe-solid",
                              styles: "h-6 w-6 text-sky-700" %>
            </span>
          </div> -->
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-sky-900">
              Supplér din varme med grøn energi
            </h2>

            <p class="mt-4 text-lg text-gray-500">
              En luft til luft varmepumpe er oplagt som supplerende grøn varmekilde (og varmefordeler) til opvarmning med el, olie, naturgas eller brændeovn.  
            </p>

            <p class="mt-4 text-lg text-gray-500">
              Den er populær i sommerhuse, ferieboliger og parcelhuse grundet dens lave installations- og driftsomkostninger. På de varme sommerdage kan du tilmed nyde godt af dens evne til at levere air conditioning (køling).
            </p>

            <p class="mt-4 text-lg text-gray-500">
              Uanset dit valg af varmepumpe-type, bruger den markant mindre energi end andre opvarmningsløsninger. Du gør både din økonomi og miljøet en tjeneste ved at bruge luften som din energikilde.
            </p>
            <div class="mt-6">
              <%= link_to "Luft-til-luft varmepumper", luft_til_luft_path, class: "btn btn-lg btn-red-gradient" %>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <%= image_tag "livingroom_luft_1100.jpg",
                        class: "w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" %>
        </div>
      </div>
    </div>
  </div>
</div>