<!-- Gradient Benefit Section -->
<div class="bg-gradient-to-r from-lightblue-600 to-lightblue-800">
  <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white tracking-tight">
      En varmepumpe fra Varmeo giver dig en række fordele
    </h2>
    <p class="mt-4 max-w-3xl text-lg text-lightblue-200">
      Få alle fordelene ved grøn opvarmning for et fast beløb om måneden. Intet opstartsgebyr eller bøvl med installation, drift og service. Det fungerer bare.
    </p>
    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/cash-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Win-win finansiering</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Prisen skal ikke stå i vejen for, at du får den optimale løsning. Slip for udbetaling (eller vælg selv din udbetaling). Det er win-win.
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/chart-bar-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Høj driftssikkerhed</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Du får en oppetid på 99.5% med vores kvalitetspumper. Og skulle uheldet være ude, står vi hos dig med det samme.
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/globe-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Tilpasset nordisk klima</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Med en varmepumpe fra Varmeo er du sikker på at kunne holde varmen, når den nordiske vinter raser helt ned til -15 grader.
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/truck-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Hurtig montering & installering</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Når vi har fundet den rette varmepumpe til dig, går der typisk 21 dage før den er færdigmonteret. Hurtigt og nemt.
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/device-mobile-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Varmeo Smart Home</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Styr nemt dit varmeanlæg fra din smartphone med vores app. Den giver dig et nemt overblik over dit varmeforbrug.
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/shield-check-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Autoriseret installatører</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Hos os er du sikret et ordentligt stykke arbejde gennem vores danske, velrenommeret montører og samarbejdspartnere.
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/receipt-tax-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Hjælp til tilskudssøgning</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Du får din løsning billigere, da vi står for at indhente de fornødne tilskud, der måtte være og indregner det som din rabat.
          </p>
        </div>
      </div>

      <div>
        <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <%= render_svg "icons/emoji-happy-outline",
                            styles: "h-6 w-6 text-white" %>
          </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">Support på husets regning</h3>
          <p class="mt-2 text-base text-lightblue-200">
            Skulle dit anlæg mod forventning drille, har du altid fri support. 9 ud af 10 sager klares hurtigt online.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>