<header>
  
  <div class="relative bg-white" x-data="Components.popover({ open: true, focus: true })" x-init="init()" @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
      <div class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8">
        <div>
          <%= link_to :root,
                      class: "flex" do %>
            <span class="sr-only">Varmeo</span>
            <%= image_tag "logo/logo-red.png", class: "h-8 w-auto sm:h-14 mb-2" %>
          <% end %>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
        </div>
        <div class="md:flex-1 md:flex md:items-center md:justify-end">
          <!-- <nav class="flex space-x-10" x-data="Components.popoverGroup()" x-init="init()">
            <%= link_to "Varmepumper",
                        calculator_path,
                        class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
            <%= link_to "Pris",
                        pricing_path,
                        class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
            <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
              Værd at vide
            </a>
            <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
              Kontakt
            </a>
          </nav> -->
          <div class="flex items-center md:ml-12">
            <%= phone_to "70230250",
                        class: "items-center btn-link-lightblue font-medium hidden md:flex" do %>
              <%= render_svg "icons/phone-solid", 
                              styles: "btn-icon-lg" %>
              70 230 250
            <% end %>
            <%= mail_to "info@varmeo.dk", "Kontakt os",
                        class: "btn btn-lg btn-red-gradient ml-8" %>
          </div>
        </div>
      </div>
    </div>

</header>