<header>
  <div class="relative bg-white" x-data="{open: false}">
      <div class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8">
        <div>
          <%= link_to :root,
                      class: "flex" do %>
            <span class="sr-only">Varmeo</span>
            <%= image_tag "logo/logo-red.png", class: "h-12 w-auto sm:h-14 mb-2" %>
          <% end %>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sky-500" @click="open = !open" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Åbn menu</span>
            <svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
          </button>
        </div>
        <div class="hidden md:flex-1 md:flex md:items-center md:justify-between">
          <nav class="flex space-x-10" x-data="Components.popoverGroup()">

            <div class="flex justify-center">
                <div
                    x-data="{
                        open: false,
                        toggle() {
                            if (this.open) {
                                return this.close()
                            }

                            this.$refs.button.focus()

                            this.open = true
                        },
                        close(focusAfter) {
                            if (! this.open) return

                            this.open = false

                            focusAfter && focusAfter.focus()
                        }
                    }"
                    class="relative"
                >
                    <!-- Button -->
                    <button
                        x-ref="button"
                        @click="open = !open"
                        :aria-expanded="open"
                        :aria-controls="$id('dropdown-button')"
                        type="button"
                        class="flex items-center gap-2 text-base font-medium text-gray-500 hover:text-gray-900"
                    >
                        Luft til vand-varmepumper

                        <!-- Heroicon: chevron-down -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>

                    <!-- Panel -->
                    <div
                        x-ref="panel"
                        x-show="open"
                        x-transition.origin.top.left
                        x-on:click.outside="close($refs.button)"
                        :id="$id('dropdown-button')"
                        style="display: none;"
                        class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    >
                        <%= link_to "Mitsubishi - Ecodan Silent",
                                    ecodan_silent_path,
                                    class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                        <%= link_to "Køb eller abonnement?",
                                    luft_til_vand_path,
                                    class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <div
                    x-data="{
                        open: false,
                        toggle() {
                            if (this.open) {
                                return this.close()
                            }

                            this.$refs.button.focus()

                            this.open = true
                        },
                        close(focusAfter) {
                            if (! this.open) return

                            this.open = false

                            focusAfter && focusAfter.focus()
                        }
                    }"
                    x-on:keydown.escape.prevent.stop="close($refs.button)"
                    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                    x-id="['dropdown-button']"
                    class="relative"
                >
                    <!-- Button -->
                    <button
                        x-ref="button"
                        @click="open = !open"
                        :aria-expanded="open"
                        :aria-controls="$id('dropdown-button')"
                        type="button"
                        class="flex items-center gap-2 text-base font-medium text-gray-500 hover:text-gray-900"
                    >
                        Luft til luft-varmepumper

                        <!-- Heroicon: chevron-down -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>

                    <!-- Panel -->
                    <div
                        x-ref="panel"
                        x-show="open"
                        x-transition.origin.top.left
                        x-on:click.outside="close($refs.button)"
                        :id="$id('dropdown-button')"
                        style="display: none;"
                        class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    >
                        <%= link_to "Mitsubishi - Hero",
                                    hero_path,
                                    class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                        <%= link_to "Panasonic - Flagskib",
                                    flagskib_path,
                                    class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                        <%= link_to "Køb eller abonnement?",
                                    luft_til_luft_path,
                                    class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                    </div>
                </div>
            </div>
<!--             <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
              Værd at vide
            </a>
            <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
              Kontakt
            </a> -->
          </nav>
          <div class="flex items-center md:ml-12">
            <%= phone_to "70230250",
                        class: "flex items-center btn-link-sky font-medium" do %>
              <%= render_svg "icons/phone-solid", 
                              styles: "btn-icon-lg" %>
              70 230 250
            <% end %>
          </div>
        </div>
      </div>
      
        <div x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'block': open, 'hidden': !open }" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" x-description="Mobile menu, show/hide based on mobile menu state." class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right z-10 hidden">
          <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
            <div class="pt-5 pb-6 px-5">
              <div class="flex items-center justify-between">
                <div>
                  <%= image_tag "logo/logo-red.png", class: "h-12 w-auto sm:h-14 mb-2" %>
                </div>
                <div class="-mr-2">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sky-500" @click="open = ! open">
                    <span class="sr-only">Luk menu</span>
                    <svg class="h-6 w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
                  </button>
                </div>
              </div>
              <div class="mt-6">
                <nav class="grid gap-6">

                  <div class="flex">
                      <div
                          x-data="{
                              open: false,
                              toggle() {
                                  if (this.open) {
                                      return this.close()
                                  }

                                  this.$refs.button.focus()

                                  this.open = true
                              },
                              close(focusAfter) {
                                  if (! this.open) return

                                  this.open = false

                                  focusAfter && focusAfter.focus()
                              }
                          }"
                          x-on:keydown.escape.prevent.stop="close($refs.button)"
                          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                          x-id="['dropdown-button']"
                          class="relative"
                      >
                          <!-- Button -->
                          <button
                              x-ref="button"
                              @click="open = !open"
                              :aria-expanded="open"
                              :aria-controls="$id('dropdown-button')"
                              type="button"
                              class="flex items-center gap-2 text-base font-medium text-gray-800 py-2.5 hover:bg-gray-50 rounded-lg"
                          >
                              Luft til vand-varmepumper

                              <!-- Heroicon: chevron-down -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                          </button>

                          <!-- Panel -->
                          <div
                              x-ref="panel"
                              x-show="open"
                              x-transition.origin.top.left
                              x-on:click.outside="close($refs.button)"
                              :id="$id('dropdown-button')"
                              style="display: none;"
                              class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                          >
                              <%= link_to "Mitsubishi - Ecodan Silent",
                                          ecodan_silent_path,
                                          class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                              <%= link_to "Køb eller abonnement?",
                                          luft_til_vand_path,
                                          class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                          </div>
                      </div>
                  </div>

                  <div class="flex">
                      <div
                          x-data="{
                              open: false,
                              toggle() {
                                  if (this.open) {
                                      return this.close()
                                  }

                                  this.$refs.button.focus()

                                  this.open = true
                              },
                              close(focusAfter) {
                                  if (! this.open) return

                                  this.open = false

                                  focusAfter && focusAfter.focus()
                              }
                          }"
                          x-on:keydown.escape.prevent.stop="close($refs.button)"
                          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                          x-id="['dropdown-button']"
                          class="relative"
                      >
                          <!-- Button -->
                          <button
                              x-ref="button"
                              @click="open = !open"
                              :aria-expanded="open"
                              :aria-controls="$id('dropdown-button')"
                              type="button"
                              class="flex items-center gap-2 text-base font-medium text-gray-800 py-2.5 hover:bg-gray-50 rounded-lg"
                          >
                              Luft til luft-varmepumper

                              <!-- Heroicon: chevron-down -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                          </button>

                          <!-- Panel -->
                          <div
                              x-ref="panel"
                              x-show="open"
                              x-transition.origin.top.left
                              x-on:click.outside="close($refs.button)"
                              :id="$id('dropdown-button')"
                              style="display: none;"
                              class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                          >
                              <%= link_to "Mitsubishi - Hero",
                                          hero_path,
                                          class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                              <%= link_to "Panasonic - Flagskib",
                                          flagskib_path,
                                          class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                              <%= link_to "Køb eller abonnement?",
                                          luft_til_luft_path,
                                          class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md text-gray-700 px-4 py-2.5 text-left text-sm hover:bg-gray-50" %>

                          </div>
                      </div>
                  </div>
                  
                </nav>
              </div>
            </div>
            <div class="py-6 px-5">
              <div>
                <%= phone_to "70230250",
                            class: "w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-sky-600 hover:bg-sky-700" do %>
                  <%= render_svg "icons/phone-solid", 
                                  styles: "btn-icon-lg" %>
                  70 230 250
                <% end %>
              </div>
            </div>
          </div>
        </div>
      
    </div>
</header>