<header>
  <div class="relative bg-white" x-data="{open: false}">
      <div class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8">
        <div>
          <%= link_to :root,
                      class: "flex" do %>
            <span class="sr-only">Varmeo</span>
            <%= image_tag "logo/logo-red.png", class: "h-12 w-auto sm:h-14 mb-2" %>
          <% end %>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sky-500" @click="open = !open" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Åbn menu</span>
            <svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
          </button>
        </div>
        <div class="hidden md:flex-1 md:flex md:items-center md:justify-between">
          <nav class="flex space-x-10" x-data="Components.popoverGroup()">
            <%= link_to "Luft-til-vand",
                        luft_til_vand_path,
                        class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
            <%= link_to "Luft-til-luft",
                        luft_til_luft_path,
                        class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
            <%= link_to "Mitsubishi - Hero",
                        hero_path,
                        class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
            <%= link_to "Panasonic - Flagskib",
                        flagskib_path,
                        class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
<!--             <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
              Værd at vide
            </a>
            <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
              Kontakt
            </a> -->
          </nav>
          <div class="flex items-center md:ml-12">
            <%= phone_to "70230250",
                        class: "flex items-center btn-link-sky font-medium" do %>
              <%= render_svg "icons/phone-solid", 
                              styles: "btn-icon-lg" %>
              70 230 250
            <% end %>
          </div>
        </div>
      </div>

      
        <div x-show="open" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" x-description="Mobile menu, show/hide based on mobile menu state." class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right z-10 md:hidden" x-ref="panel" @click.away="open = false" style="display: none;">
          <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
            <div class="pt-5 pb-6 px-5">
              <div class="flex items-center justify-between">
                <div>
                  <%= image_tag "logo/logo-red.png", class: "h-12 w-auto sm:h-14 mb-2" %>
                </div>
                <div class="-mr-2">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sky-500" @click="open = ! open">
                    <span class="sr-only">Luk menu</span>
                    <svg class="h-6 w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
                  </button>
                </div>
              </div>
              <div class="mt-6">
                <nav class="grid gap-6">
                  
                    <%= link_to luft_til_vand_path,
                                class: "-m-3 p-3 flex items-center rounded-lg hover:bg-gray-50" do %>
                      <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-sky-500 text-white">
                        <%= render_svg "icons/chevron-right-outline", 
                                        styles: "h-6 w-6" %>
                      </div>
                      <div class="ml-4 text-base font-medium text-gray-900">
                        Luft-til-vand varmepumper
                      </div>
                    <% end %>
                  
                    <%= link_to luft_til_luft_path,
                                class: "-m-3 p-3 flex items-center rounded-lg hover:bg-gray-50" do %>
                      <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-sky-500 text-white">
                        <%= render_svg "icons/chevron-right-outline", 
                                        styles: "h-6 w-6" %>
                      </div>
                      <div class="ml-4 text-base font-medium text-gray-900">
                        Luft-til-luft varmepumper
                      </div>
                    <% end %>

                    <%= link_to hero_path,
                                class: "-m-3 p-3 flex items-center rounded-lg hover:bg-gray-50" do %>
                      <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-sky-500 text-white">
                        <%= render_svg "icons/chevron-right-outline", 
                                        styles: "h-6 w-6" %>
                      </div>
                      <div class="ml-4 text-base font-medium text-gray-900">
                        Mitsubishi - Hero
                      </div>
                    <% end %>

                    <%= link_to flagskib_path,
                                class: "-m-3 p-3 flex items-center rounded-lg hover:bg-gray-50" do %>
                      <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-sky-500 text-white">
                        <%= render_svg "icons/chevron-right-outline", 
                                        styles: "h-6 w-6" %>
                      </div>
                      <div class="ml-4 text-base font-medium text-gray-900">
                        Panasonic - Flagskib
                      </div>
                    <% end %>
                </nav>
              </div>
            </div>
            <div class="py-6 px-5">
              <div>
                <%= phone_to "70230250",
                            class: "w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-sky-600 hover:bg-sky-700" do %>
                  <%= render_svg "icons/phone-solid", 
                                  styles: "btn-icon-lg" %>
                  70 230 250
                <% end %>
              </div>
            </div>
          </div>
        </div>
      
    </div>
</header>