<% content_for :meta_title, "Luft-til-luft varmepumpe (HERO) - 410 kr./md." %>
<% content_for :meta_description, "Spar op til 50% på din varmeregning. 14 dages leveringstid. Kun 410 kr./md. Bestil i dag og få en luft-til-luft varmepumpe som supplerende varmekilde." %>
<% content_for :meta_image, image_path("hero/hero-living1.jpg") %>

<div class="bg-white">
  <main class="isolate">
    <!-- Hero section -->
    <div class="relative isolate -z-10">
      <svg class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
      </svg>
      <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
        <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#38bdf8] to-[#fb923c] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
      </div>
      <div class="overflow-hidden">
        <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
          <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h2 class="text-base font-semibold leading-7 text-sky-600">Specialister i varmepumper</h2>
              <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Om Varmeo</h1>
              <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">Hvorfor Varmeo? Fordi vi fokuserer 100% på varmepumper. Vi er her for at give dig høj kvalitet og exceptionel service. Vores dedikation er din garanti for en varmepumpe, du kan stole på.</p>
            </div>
            <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
              <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
                <div class="relative">
                  <%= image_tag "about/field.jpg",
                                class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" %>
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                <div class="relative">
                  <%= image_tag "about/shore.jpg",
                                class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" %>
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                  <img src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                <div class="relative">
                  <%= image_tag "about/living_room.jpg",
                                class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" %>
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                  <%= image_tag "about/playing.jpg",
                                class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" %>
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content section -->
    <div class="relative isolate overflow-hidden px-6 pt-24 sm:pt-32 lg:overflow-visible lg:px-0">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
              <p class="text-base font-semibold leading-7 text-sky-600">Derfor er vi det rette valg</p>
              <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Hvorfor er vi bedre end de fleste?</h2>
              <p class="mt-6 text-xl leading-8 text-gray-600">Varmeo har gjort det til vores mission ikke blot at være gode, men at være de bedste inden for varmepumper. Vi breder os ikke ud; vi gør én ting utroligt godt, og det er varmepumper.</p>
            </div>
          </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          <%= image_tag "family_vand_1100.jpg",
                        class: "w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] scale-x-[-1]" %>
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
              <div class="mt-10 max-w-xl text-base leading-7 text-gray-700">
                <h3 class="mt-8 text-xl font-bold tracking-tight text-gray-900">Uafhængighed sikrer det bedste valg</h3>
                <p class="mt-3">Vores uafhængighed er en nøglefaktor i vores succes. Vi er uafhængige ikke kun af strømleverandører, men også af varmepumpemærker. Vi tilbyder flere kvalitetsmærker som Panasonic, Mitsubishi, og Hitachi, hvilket giver os mulighed for at vælge præcis den mærke og model, der passer bedst til dine behov.</p>
                <h3 class="mt-8 text-xl font-bold tracking-tight text-gray-900">Spar tid og penge med digital effektivitet</h3>
                <p class="mt-3">Vores avancerede digitale system gør det muligt for os at køre vores forretning næsten 100% digitalt. Traditionelt kører VVS-virksomheder hjem til dig for at vurdere opgaven og tager så tilbage til kontoret for at skrive et tilbud. Dette er både tidskrævende og dyrt. Med vores system kan du svare på nogle spørgsmål på vores hjemmeside, og vi kan derefter give dig et fast tilbud. Det sparer både tid og penge, som vi giver videre til dig i form af lavere priser.</p>
                <h3 class="mt-8 text-xl font-bold tracking-tight text-gray-900">Gratis, personligt tilpassede tilbud</h3>
                <p class="mt-3">Hvert tilbud er skræddersyet til din husstand og indeholder muligheden for at få varmepumpen på abonnement eller til køb. Det gør det nemt for dig at vælge den løsning, der passer bedst til dine præferencer og økonomi. Vi hjælper med at beregne alle nødvendige tal, såsom besparelser og CO2-reduktion, så du kan træffe den rigtige beslutning.</p>
                <h3 class="mt-8 text-xl font-bold tracking-tight text-gray-900">Få service i hele Danmark</h3>
                <p class="mt-3">Gennem vores partnerskab med <a href="https://www.kinnan.dk" target="_blank" class="underline hover:no-underline">Kinnan</a> har vi adgang til hundreder af autoriserede installatører i hele Danmark. Uanset hvor du er, kan du stole på, at Varmeo er der for dig. </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Image section -->
    <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
      <%= image_tag "about/house-16-9.jpg",
                    class: "w-full object-cover xl:rounded-3xl" %>
    </div>

    <div class="relative isolate bg-white pt-24 sm:pt-32">
      <div class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl" aria-hidden="true">
        <div class="ml-[max(50%,38rem)] aspect-[1313/771] w-[82.0625rem] bg-gradient-to-tr from-[#38bdf8] to-[#fb923c]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end" aria-hidden="true">
        <div class="ml-[-22rem] aspect-[1313/771] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] bg-gradient-to-tr from-[#fb923c] to-[#38bdf8] xl:ml-0 xl:mr-[calc(50%-12rem)]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>

      <%= render "static/shared/testimonials" %>

      <%= render "static/shared/kinnan_map" %>
    </div>
  </main>
</div>
