<% content_for :meta_title, "Varmepumper på abonnement" %>
<% content_for :meta_description, "Få alle fordelene ved grøn og billig varme for et fast beløb om måneden. Vi indkøber dit varmeanlæg, installerer det i din bolig og sørger for alt." %>

<%= render "static/index/hero_section" %>
<%# render "static/shared/logo_cloud_section" %>
<%= render "static/index/benefits_section" %>
<%= render "static/index/alternating_features_section" %>
<div class="bg-white pb-32">
  <%= render "static/shared/kinnan_map" %>
  <%= render "static/shared/testimonials" %>
</div>
<%= render "static/index/gradient_benefits_section" %>
<%# render "static/shared/cta_calculate_section" %>

