<%= render "static/index/hero_section" %>
<%# render "static/index/logo_cloud_section" %>
<%= render "static/index/benefits_section" %>
<%= render "static/index/alternating_features_section" %>
<div class="bg-white">
  <%= render "static/shared/kinnan_map" %>
</div>
<%= render "static/index/gradient_benefits_section" %>
<%# render "static/shared/cta_calculate_section" %>

