<!DOCTYPE html>
<html>
  <head>
    <title>Varmepumper på abonnement - Varmeo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon/favicon-32x32.png') %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>

  </head>

  <body>
    <div class="min-h-screen bg-white">
      <%= render "shared/nav" %>
      <main>
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
